/* TODO: descargar font y cargarlo desde el proyecto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Grotesk:wght@500;700&display=swap");

:root {
  --color: #fff;
  --title: 60px;
  --sub-title: 35px;
  --text: 16px;

  --title-mobile: 50px;
  --sub-title-mobile: 30px;
  --text-mobile: 14px;

  --background: #11112b;
  --background-square: #d9d9d9;

  --font-poppins: "Poppins", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;

  --color-hover: #bcd1f7;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  color: inherit; /* Hereda el color del texto del elemento contenedor */
  text-decoration: none; /* Elimina el subrayado por defecto */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
}
ul,
ol {
  margin: 0; /* Elimina el margen exterior por defecto */
  padding: 0; /* Elimina el relleno por defecto */
  list-style: none; /* Elimina los marcadores/bolitas por defecto en listas */
}

li {
  margin: 0; /* Elimina el margen interior por defecto */
  padding: 0; /* Elimina el relleno interior por defecto */
}
body {
  background-color: var(--background);
  color: var(--color);
  font-family: var(--font-grotesk);
  padding: 0 14px;
}
.icon-whatsapp {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.4s;
  background-color: var(--background);
  padding: 0 14px;
}
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 100%;
}
.nav__logo img {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    box-shadow: 0 -1px 12px #fff;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-weight: 600;
}
.nav__list {
  justify-content: space-around;
}
.nav__name {
  font-size: var(--text-mobile);
}
.nav__link .nav__icon {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert();
}
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--text);
  }
  .nav__link:hover {
    color: var(--color-hover);
  }
  .whatsapp {
    display: none;
  }
  .icon-whatsapp {
    display: inline;
    position: fixed;
    width: 55px;
    height: 55px;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--background);
    z-index: 999;
    border-radius: 50%;
    padding: 0.4rem;
    transition: 0.2s all ease-in-out;
  }
  .icon-whatsapp:hover {
    background-color: var(--color);
  }
}
.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home article {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home-title {
  text-transform: uppercase;
  font-size: 2.7rem;
  background: linear-gradient(to right bottom, var(--color-hover), #fff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.home-title span {
  color: white;
}
.home h2,
h1 {
  text-align: center;
}
.home h2 strong {
  font-style: italic;
  font-weight: lighter;
}

/* Estilos para un botón */
.home-button {
  padding: 5px 10px; /* Añade relleno al botón para que sea más fácil de hacer clic */
  color: var(--background-square); /* Color del texto del botón */
  border: 2px solid var(--background-square); /* Elimina el borde del botón */
  border-radius: 5px; /* Añade bordes redondeados al botón */
  text-decoration: none; /* Elimina cualquier subrayado en el texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
.home-button:hover {
  background-color: var(--color-hover);
  color: var(--background);
  border: 2px solid transparent;
}
.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 0.3rem;
}
.about {
  position: relative;
  padding-top: 4rem;
}
.about-header {
  position: relative;
}
.cuadrado__pequeño {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: var(--background-square);
}
.cuadrado__grande {
  position: absolute;
  width: 67px;
  height: 67px;
  background-color: var(--background-square);
  right: 0;
  bottom: 0;
}
.cuadrado__pequeño,
.cuadrado__grande {
  display: none;
}
.uno {
  top: 40%;
  right: 50%;
}
.dos {
  top: 1rem;
  right: 200px;
}
.title {
  font-size: var(--title-mobile);
  height: 20%;
}
.about-section {
  height: 80%;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
}
.about-section__subtitle {
  font-size: var(--sub-title-mobile);
  margin-bottom: 1.5rem;
}

.about-section__text {
  font-size: var(--text-mobile);
}
.about-section__text__first {
  padding-bottom: 2rem;
}

.about-choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-choose figure {
  width: 350px;
  text-align: center;
  margin-bottom: 4rem;
}
.about-choose figure:nth-last-child(1) {
  margin-bottom: 0;
}
.about-choose figure figcaption {
  font-size: var(--sub-title-mobile);
  display: flex;
  flex-direction: column;
}
.about-choose figure figcaption span {
  font-size: var(--text);
}
.contact {
  margin-bottom: 2rem;
  padding-top: 4rem;
}
.contact .title{
  margin-bottom: 1.5rem;
}
.contact-content {
  display: flex;
  flex-direction: column-reverse;
}
.contact-info{
  margin-top: 1rem;
}
.contact-box-phone,
.contact-box-mail {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
  word-break: break-all;
}
.icon {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  background-color: var(--color);
  border-radius: 50%;
}
.contact-form {
  padding: 2rem;
  background-color: var(--color);
  color: #11112b;
  border-radius: 1rem;
}
.contact-form h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.contact-form .input-box {
  position: relative;
  margin-top: 2rem;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  height: 2rem;
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  outline: none;
  resize: none;
}
.contact-form .input-box span {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  margin-top: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: green;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .input-box input[type="submit"]{
  padding: 0;
  width: 100px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  gap: 1rem;
}
.footer-logo {
  text-align: start;
  text-align: center;
  flex: 1;
}
.footer-logo img{
  width: 80%;
}
.footer-explora {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
.footer-explora-items li{
  margin-bottom: 1rem;
}
.footer h3 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}
.footer li {
  font-size: var(--text);
  margin-bottom: 1rem;
}
.footer .icon{
  width: 30px;
  height: 30px;
  padding: 5px;
}
@media (min-width: 480px) {
  .home-title {
    font-size: 4rem;
  }
  .home h2 {
    font-size: 2rem;
  }
  .home-button {
    border-radius: 0.6rem;
    padding: 0.7rem 1rem;
  }
  .title {
    color: var(--color);
    font-size: var(--title);
  }
  .about-section {
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }

  .about-section__subtitle {
    font-size: var(--sub-title);
    flex: 1;
  }

  .about-section__text {
    flex: 1;
  }
  .footer-explora{
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (min-width: 767px) {
  .home {
    margin: 0;
    height: calc(100vh - 4rem);
  }
  .home-button {
    border-radius: 0.6rem;
    padding: 0.7rem 1rem;
  }
  .home-title {
    font-size: 6rem;
  }
  .cuadrado__pequeño,
  .cuadrado__grande {
    display: flex;
  }
  .about-section {
    flex-direction: row;
  }
  .about-section__subtitle {
    margin: 0;
  }
  .about-choose figure img {
    height: 140px;
  }
  .about-choose figure figcaption span {
    margin: 0 1rem;
  }
  .about-choose figure:nth-last-child(2) {
    margin-bottom: 0;
  }
  .contact-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-form{
    width: 50%;
    padding: 40px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .footer-logo{
    text-align: left;
    width: 40%;
    flex: none;
  }
  .footer-explora{
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .home h2 {
    text-align: left;
    font-size: 3rem;
  }
  .home-title {
    font-size: 7rem;
  }
  .cuadrado__pequeño,
  .cuadrado__grande {
    display: flex;
  }
  .cuadrado__pequeño {
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: var(--background-square);
  }
  .cuadrado__grande {
    position: absolute;
    width: 77px;
    height: 77px;
    background-color: var(--background-square);
    right: 0;
    bottom: 0;
  }

  .about-choose {
    justify-content: space-between;
  }
  .about-choose figure {
    width: 400px;
  }
}
