/* TODO: descargar font y cargarlo desde el proyecto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Grotesk:wght@500;700&display=swap");

:root {
  --color: #fff;
  --title: 60px;
  --sub-title: 35px;
  --text: 16px;

  --title-mobile: 50px;
  --sub-title-mobile: 30px;
  --text-mobile: 14px;

  --background: #11112b;
  --background-square: #d9d9d9;

  --font-poppins: "Poppins", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;

  --color-hover: #bcd1f7;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  color: inherit; /* Hereda el color del texto del elemento contenedor */
  text-decoration: none; /* Elimina el subrayado por defecto */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
}
ul,
ol {
  margin: 0; /* Elimina el margen exterior por defecto */
  padding: 0; /* Elimina el relleno por defecto */
  list-style: none; /* Elimina los marcadores/bolitas por defecto en listas */
}

li {
  margin: 0; /* Elimina el margen interior por defecto */
  padding: 0; /* Elimina el relleno interior por defecto */
}
body {
  background-color: var(--background);
  color: var(--color);
  font-family: var(--font-grotesk);
  padding: 0 14px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.4s;
  background-color: var(--background);
}
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 100%;
}
.nav__logo img {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    box-shadow: 0 -1px 12px #fff;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-items: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-weight: 600;
}
.nav__list {
  justify-content: space-around;
}
.nav__name {
  font-size: var(--text-mobile);
}
.nav__link .nav__icon {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert();
}
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--text);
  }
  .nav__link:hover {
    color: var(--color-hover);
  }
}

.home {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home h1 {
  font-size: 4rem;
}
.home h1 strong {
  font-style: italic;
  font-weight: lighter;
}
.home h2,
h1 {
  text-align: center;
}
.home h2 strong {
  font-style: italic;
  font-weight: lighter;
}

/* Estilos para un botón */
.home-button {
  display: inline-block; /* Hace que el botón se muestre en línea y no ocupe todo el ancho disponible */
  padding: 5px 10px; /* Añade relleno al botón para que sea más fácil de hacer clic */
  background-color: var(--background-square); /* Color de fondo del botón */
  color: var(--background); /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Añade bordes redondeados al botón */
  text-align: center; /* Centra el texto dentro del botón */
  text-decoration: none; /* Elimina cualquier subrayado en el texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 0.3rem;
}
.about {
  position: relative;
  margin: 4rem 0;
}
.about-header {
  position: relative;
  padding: 2rem 0;
}
.cuadrado__pequeño {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: var(--background-square);
}
.cuadrado__grande {
  position: absolute;
  width: 67px;
  height: 67px;
  background-color: var(--background-square);
  right: 0;
  bottom: 0;
}
.cuadrado__pequeño,
.cuadrado__grande {
  display: none;
}
.uno {
  top: 40%;
  right: 50%;
}
.dos {
  top: 1rem;
  right: 200px;
}
.title {
  font-size: var(--title-mobile);
  height: 20%;
}
.about-section {
  height: 80%;
  padding: 2rem 0;
}
.about-section__subtitle {
  font-size: var(--sub-title-mobile);
  margin-bottom: 1.5rem;
}

.about-section__text {
  font-size: var(--text-mobile);
}
.about-section__text__first {
  padding-bottom: 2rem;
}

.about-choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-choose figure {
  width: 350px;
  text-align: center;
  margin-bottom: 4rem;
}
.about-choose figure figcaption {
  font-size: var(--sub-title-mobile);
  display: flex;
  flex-direction: column;
}
.about-choose figure figcaption span {
  font-size: var(--text);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  gap: 1rem;
}
.footer h3 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}
.footer li {
  font-size: var(--text);
  margin: 10px 0;
}
.footer-logo {
  font-size: var(--title-mobile);
  width: 100%;
  text-align: center;
}
.footer-explora {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 480px) {
  .title {
    color: var(--color);
    font-size: var(--title);
  }
  .about {
  }
  .about-section {
    display: flex;

    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }

  .about-section__subtitle {
    font-size: var(--sub-title);
    margin: 0;
    flex: 1;
  }

  .about-section__text {
    flex: 1;
  }
}
@media (min-width: 767px) {
  .cuadrado__pequeño,
  .cuadrado__grande {
    display: flex;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .footer-logo {
    width: 100%;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .cuadrado__pequeño,
  .cuadrado__grande {
    display: flex;
  }
  .cuadrado__pequeño {
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: var(--background-square);
  }
  .cuadrado__grande {
    position: absolute;
    width: 77px;
    height: 77px;
    background-color: var(--background-square);
    right: 0;
    bottom: 0;
  }

  .about-choose {
    justify-content: space-between;
  }
  .about-choose figure {
    width: 400px;
  }
}
